<h1>Fonction Responsable administratif & financier RAFI </h1>





<h2>Organisation Administrative</h2>
<br>
<h4>Reception du courrier et email</h4>
<p>1 - Date de réception + Tampon société</p>
<p>2 - Banette facture FG et Metier + Rapprochement papier commande + Saisie comptable & control facture</p>
<p>3 - Banette banques</p>
<p>4 - Banette autres courrier</p>
<p>5 - Venitllation des factures par société par type au 15 ou au 30</p>
<p>6 - répondre au mail 1 fois par jour</p>

<br>

<h4>Cycle Mensuel</h4>
<h5>Client</h5>
<p>1 - Les mardi & jeudi faire les encaissements clients</p>
<p>2 - Les lundi et vendredi faire les relances clients</p>
<p>3 - Après chaque cylcle d'encaissement, effectuer un lettrage</p>
<br>
<h5>Fournisseur</h5>
<p>1 - Les 15 et les 30 de chaques mois, effectuer les paiements fournisseur et leur comptabilisations</p>
<p>2 - Après chaque cylcle de paiement, effectuer un lettrage</p>
<br>
<h5>Sociale</h5>
<p>1 - le 20 de chaques mois, préparer le tableau des payes, demander primes à Nico et envoyer à Sogedex</p>
<p>2 - le 10 de chaques mois, commander les tickets resto</p>
<p>3- dès réceptions d'arrêt maladie, transmettre à Sogedex</p>
<br>
<h4>Cycle hebdomadaire</h4>
<p>1- jeudi matin, faire le points sur les papiers en cours avec Nico </p>



<h2>Reponses aux collaborateurs</h2>
<p>1 - Identifier les demandes récurrente & mise en place d'une solution de transmisstion d'info automatiser sur informations non sensibles</p>
