
<div id="flow">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center"><h2>Flow n° <%= @flow.code %> for <%= ((Compagny.find(compagny_id = @flow.compagny_id)).name).upcase  %> </h2></div>
    </div>

    <div class="row form">
      <div class="col-sm-12">

     </div>
   </div>
 </div>
</div>


