<h1>Welcome, My name is Copernic</h1>

<p>I'm your Futur  construction application  of our Group <strong>"xxxxxxx"</strong></p>
<ul>TargetVideo, Créative Img</ul>
<ul>Vev, Product Img</ul>
<ul>Vision3, Learning Img</ul>
<ul>StartUp, Tools Img</ul>



<a href="https://vev.pipedrive.com">Visit VEV CRM</a>
<a href="https://vision3.pipedrive.com">Visit Vision3 CRM</a>


